@page
@model TradingView.Pages.ProfileModel
@inject TradingView.Models.UserContext db
<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/profile1.css" rel="stylesheet">
</head>

<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>@db.Users.FirstOrDefault(u => u.Username == User.Identity.Name).Username</h4>
                                <a class="btn btn-primary" asp-area="" asp-page="/EditProfile">Edit Profile</a>
                                <a class="btn btn-outline-primary" asp-page-handler="Logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Полное имя</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @db.Users.FirstOrDefault(u => u.Username == User.Identity.Name).Firstname @db.Users.FirstOrDefault(u => u.Username == User.Identity.Name).Lastname
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @db.Users.FirstOrDefault(u => u.Username == User.Identity.Name).Email
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3">Подписки</h6>
                                <div class="col-sm-9 text-secondary">
                                    @{
                                        if (db.Subscriptions.FirstOrDefault(u => u.User.Username == User.Identity.Name) != null)
                                        {
                                            var subs = db.Subscriptions.Where(u => u.User.Username == User.Identity.Name);
                                            foreach (var s in subs)
                                            {
                                                <a asp-page="@s.Exchange/@s.Name">@s.Name</a> <br />
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
